main#aboutsa
    display: flex
    width: 80%
    margin: 50px auto

section#about
    color: #414141
    font-size: 1rem
    line-height: 20px
    margin-right: 50px
    h1 
        padding: 30px 10px
    p 
        padding: 10px
    img
        border: 1px solid #707070
        background-color: white
        margin: 10px
        padding: 3px
    div#img 
        display: flex
        justify-content: flex-start
        p 
            margin: 10px
            padding: 0

    div#div1
        column-count: 2
    div#div2
        column-count: 3