section.aside {
    width: 220px;
    height: 600px;
}

.asideh3 {
    margin-bottom: 10%;
}

section.aside .asidep {
    margin-bottom: 10%;
}

section.aside .asidep.time {
    margin-top: 2.5%;
}

.asidegrey {
    color: grey;
}