*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue';
}

.blogcontainer {
    width: 85%;
    margin: 4% auto 2%;
}

.blogcontent {
    display: flex;
    justify-content: space-between;
    width: 72%;
}

.blogaside {
    width: 150px;
    padding: 3%;
}

.bloggraph{
    padding-bottom: 20px;
    line-height: 22px;
}

.ndgraph{
    line-height: 22px;
}


.blogtextgrey {
    color: grey;
    margin-top: 3%;
}