h3 
    margin: 2rem 0
    font-family: HelveticaNeue
    color: #464646

p 
    margin: 1rem 0
    font-family: HelveticaNeue
    color: #464646

form 
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 408px
    
    input 
        width: 290px
        height: 34px
        border-radius: 0.3rem
        padding: 0 1rem        
        font-family: HelveticaNeue
    input[type="submit"]
        width: 89px
        heigth: 35px
        background-color: #929292
        color: white
        font-family: HelveticaNeue
    textarea
        padding: 0 1rem
        font-family: HelveticaNeue