footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #707070;
    display: flex;
    align-items: center;    
}

.mainf {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.mainf>section {
    display: flex;
    align-items: flex-end;    
}

.port {
    display: flex;
    align-items: center;
}

.port>h2 {
    border-right: 1px solid black;
    margin-right: 20px;
    padding-right: 20px;
}