@font-face {
    font-family: BallparkWeiner;
    src: url(../fonts/BallparkWeiner.TTF);
}

footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


footer {
    background-color: rgba(112, 112, 112, 0.28);
    display: flex;
    align-items: center;
    color: #808080;
}

.mainf {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainf>section {
    align-items: flex-end;    
}

.port {
    display: flex;
    align-items: center;
}

.port>h2 {   
    font-family: "BallparkWeiner";
}

.port>section {
    border-left: 1px solid black;
    margin-left: 20px;
    padding-left: 20px;
}

.mainf>section>span {
    color: #B2B2B2;
}
section {
    font-family: HelveticaNeue;
}