/* 3. nav */
header
{
    background-color: white;
}
header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul
{
    list-style: none;
    display: flex;
    padding: 0 10px;
}

   header ul a
{
     text-decoration: none;
     font-family: 'Helvetica Neue';
     color: gainsboro;
     font-size: 12px;
     padding: 20px 50px;
}
input {
    background-color: black;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-size:25px;
	padding:25px 150px;
    text-decoration:none;
    color: white;
}

div {
    color: gainsboro;
    font-size: 36px;
    font-family: 'Ballpark Weiner';
}