/* 3. nav */

@font-face {
    font-family: BallparkWeiner;
    src: url(../Fonts/BallparkWeiner.TTF);
}

.first
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 85%;
    margin: auto;
}

.first ul
{
    list-style: none;
    display: flex;
    margin: 20px;
}

.first ul a
{
     text-decoration: none;
     font-family: 'Helvetica Neue';
     color: gainsboro;
     font-size: 12px;
     padding: 10px 30px;
     border-right: 2px solid black;
     text-shadow: 1px 1px 1px;
     

}

.inp {
    background-color: black;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-size:14px;
    text-decoration:none;
    color: white;
    margin-left: 20px;
}

.port {
    color: gainsboro;
    font-size: 36px;
    font-family: "BallparkWeiner";
}

#botto
{
    background-color: black;
    color: white;
    border-radius: 5px;
}