* 
    box-sizing: border-box
    margin: 0
    padding: 0
    transition-duration: .3s
<<<<<<< HEAD
//Oleg start here//
main
    section.second
        display: flex
        margin: 20px 100px 20px 50px
        justify-content: space-evenly
        font-family: 
        article.article
            width: 15%
            text-align: left
            padding: 20px
            box-shadow: 0px -7px 43px -4px rgba(0,0,0,0.22);
            h3.hname
                margin-bottom: 20px
            p.pgrey
                color: #808080
                margin-bottom: 20px
            p.readmore
                margin-top: 30px
       
                
                
=======

>>>>>>> 2ab0f23e282cb370bcb13348ca2fae88d9c4b47a


























































































//Aurel from here
    main
        .first
            width: 80%
            display: flex
            margin: auto
            article
                justify-content: space-around
                width: 75%
                p
                    margin: 15px 5px
                    width: 60%
                a
                    padding: 10px 25px
                    background-color: #707070
                    text-decoration: none
                    color: white
                    border-radius: 3px
            img
                width: 55%
//