* 
    box-sizing: border-box
    margin: 0
    padding: 0
    transition-duration: .3s



























































































//Aurel from here
    main
        .first
            width: 80%
            display: flex
            margin: auto
            article
                justify-content: space-around
                width: 75%
                p
                    margin: 15px 5px
                    width: 60%
                a
                    padding: 10px 25px
                    background-color: #707070
                    text-decoration: none
                    color: white
                    border-radius: 3px
            img
                width: 55%
//