/* 1. general */

@import "general.css";

/* 2. body */


/* 3. nav */

@import "header.css";

/* 4. main */


/* 5. contact */

@import "contact.css";

/* 6. footer */

@import "footer.css";

/*Font import*/


/*Helvetica Neue Regular*/

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}


/*Helvetica Neue Bold*/

@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeueBd.ttf);
}