/* 1. general */

@import "general.css";

/* 2. body */
@import "aside.css";

/* 3. nav */

@import "header.css";

/* 4. main */


/* 5. contact */

@import "contact.css";

/*4.1 about*/

@import "about.css";
@import "portfolio.css";
@import "blog.css";

/* 5. contact */


/* 6. footer */

@import "footer.css";

/*Font import*/


/*Helvetica Neue Regular*/

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}


/*Helvetica Neue Bold*/

@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeueBd.ttf);
}