.port-img1 img{
    width: 300px;

}
.port-img1{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 10px;
}


.port-main-heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.port-cat-filter-bar ul {
    list-style: none;
}

.port-cat-filter-bar ul li {
    display: inline-block;
}

.port-cat-filter-bar ul li a {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    color: black;
    border-left: 1px solid black;
}

.port-cat-filter-bar ul li:first-child a {
    border-left: 0;
}
